/* h1{
    color: orange;
}
p{
    color: white;
    background-color: black;
}
button{
    color: white;
    background-color: blue;
} */
div{
    background-color: yellow;
}
/* form{
    background-color: red;
} */
input{
    background-color: inherit;
}
button{
    background-color: inherit;
}
button:hover{
    background-color: red;
}