/* body{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
h1{
    color: red;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
    color: black;
}
h4{
    text-align: center;
}
p{
    text-align: center;
    color: brown;
    line-height: 30px;
}
span{
    text-decoration: underline;
}
a{
    color: rgb(8, 123, 8);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
}