#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    align-content: flex-start;
}
#org{
    /* align-self: flex-end; */
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
    /* flex: flex-grow | flex-shrink | flex-basis; */
    /* flex-grow | flex-shrink */
    /* Flex-grow */
    flex: 2 2 100px;
}
#blue{
    flex-grow: 1;
    /* max-width: 200px;
    min-width: 50px; */
}
h1{
    text-align: center;
}
#container div{
    height: 70px;
    width: 150px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}